/* Author-Bismi John */
* {
    font-family: "Times New Roman", Times, serif;
}

.div1 {
    min-height: 50vh;
}
.div2 {
    min-height: 50vh;
}

.border {
    border: 2px solid rgb(20, 20, 20);
    background-color: aliceblue;
    border-radius: 15px;
}
.div4 {
    min-height: 60vh;
}
.div5 {
    min-height: 50vh;
}
.images {
    flex-wrap: wrap;
}
/* mediaquery */
@media screen and (max-width: 576px) {
    .image {
    }
}
